*

.config/opera/
.config/unity3d/
.config/skypeforlinux/
.config/libreoffice/
.config/falkon/
.config/VirtualBox/
.ssh/*
.extend.bashrc
.ncmpcpp/*
.config/terminator/*
.config/git/*
.config/compton.conf
.config/dunst/*
.config/ibus/rime/*

!.elinks/*
!.Packages.aur
!.Packages.diff
!.profile
!.xprofile
!.tmux.conf
!.urxvt/*
!.vim/*
!.vimrc
!.surf/styles/*
!.config/vlc/*
!.config/vimb/*
!.config/tilda/*
!.config/rofi/*
!.config/redshift.conf
!.config/clipit/*
!.config/ibus-kkc/*

!.i3/*
!.config/conky/*
!.config/qutebrowser/*
!.gitconfig
!.Xresources
!.i3status.conf
!.bashrc
!.conky/*
!.config/viewnior/*
!.config/sway/*
!.config/waybar/*


