* {
    border: none;
    border-radius: 0;
    font-family: "Inconsolata Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(11, 11, 11, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
  padding: 0 15px;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
  /*
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #999999;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
*/

#workspaces button {
    min-width: 0;
    background-color: transparent;
    color: #ffffff;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


#clock,
#custom-vpn,
#custom-battery0,
#custom-battery1,
#battery,
#cpu,
/*
#backlight,
#memory,
#network,
*/
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 5px;
    margin: 0 4px;
    background-color: transparent;
    border-bottom: 2px solid #00ff96;
    color: #ffffff;
}

#mode {
  background-color: #00ff96;
  color: #000000;
}

#pulseaudio,
#clock,
#tray,
#cpu {
  border-bottom: transparent;
}

#custom-battery {
  border-bottom: 2px solid #bff874;
}

#custom-battery.charging {
  border-bottom: 2px solid #00ff96;
}

#custom-vpn.down,
#custom-battery.critical:not(.charging) {
  border-bottom: 2px solid #dd2241;
}

label:focus {
    background-color: #000000;
}

#network.disabled{
  border-bottom: 2px solid red;
}
#network.disconnected{
  border-bottom: 2px solid orange;
}

#network.wifi{
  border-bottom: 2px solid #589df6;
}

#network.ethernet{
  border-bottom: 2px solid green;
}


#pulseaudio.bluetooth {
  border-bottom: 2px solid #0a8cff;
}

#custom-earbuds.bluetooth{
  border-bottom: 2px solid orange;
}

#pulseaudio.muted {
  border-bottom: 2px solid #fff569;
}
