@import "/home/sl424/.cache/wal/colors-waybar.css";

@keyframes blink-warning {
    70% { color: @wm_icon_bg; }
    to { color: @wm_icon_bg; background-color: @warning_color; }
}

@keyframes blink-critical {
    70% { color: @wm_icon_bg; }
    to { color: @wm_icon_bg; background-color: @error_color; }
}

* {
    border: none;
    border-radius: 0;
    font-family: "InconsolataGo Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    /*background-color: rgba(43,48,59,0.1); */
    background-color: @background;
    color: @color7;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.7;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
  padding: 0 15px;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
  /*
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #999999;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
*/

#workspaces button {
    min-width: 0;
    padding: 0 9px;
    background-color: transparent;
    color: #ffffff;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background-color: @theme_selected_bg_color;
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: @theme_selected_bg_color;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


#clock,
#custom-vpn,
#custom-earbuds,
#custom-dnd,
#custom-scratchpad,
/*
#custom-disk_home,
#custom-disk_root,
*/
#battery,
#cpu,
#backlight,
#memory,
#network,
/*#pulseaudio,*/
#tray,
#mode,
#idle_inhibitor {
    padding: 0 5px;
    margin: 0 4px;
    background-color: transparent;
    /*border-bottom: 2px solid #00ff96;*/
    color: @color7;
}

#mode {
  background-color: #00ff96;
  color: #000000;
}



label:focus {
    background-color: #000000;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @warning_color;
}

#battery.critical {
    color: @error_color;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 9s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 9s;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warning_color;
    animation-name: blink-warning;
    animation-duration: 9s;
}

#memory.critical {
    color: @error_color;
    animation-name: blink-critical;
    animation-duration: 9s;
}

#battery{
    border-bottom: 2px solid #00ff96;
}

/*
#pulseaudio, #clock, #tray, #cpu {
  border-bottom: transparent;
}

#custom-battery {
  border-bottom: 2px solid #bff874;
}

#custom-battery.charging {
  border-bottom: 2px solid #00ff96;
}
#custom-vpn.down,
#custom-battery.critical:not(.charging) {
  border-bottom: 2px solid #dd2241;
}
#network.disabled{
  border-bottom: 2px solid red;
}
#network.disconnected{
  border-bottom: 2px solid orange;
}

#network.wifi{
  border-bottom: 2px solid #589df6;
}

#network.ethernet{
  border-bottom: 2px solid green;
}
*/


#pulseaudio.bluetooth {
  border-bottom: 2px solid #0a8cff;
}

#custom-bt{
  border-bottom: 2px solid #0a8cff;
}


/*
#custom-earbuds.bluetooth{
  border-bottom: 2px solid orange;
}

#pulseaudio.muted {
  border-bottom: 2px solid #fff569;
}
*/

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#keyboard-state {
}

#keyboard-state > label {
    padding: 0 5px;
}

